---
import type { Post } from "@/interface";
import { getImageInfo } from "@/lib/getImageInfo";
import { Image } from "astro:assets";

type Props = {
  posts: Post[];
};
const { posts } = Astro.props;
---

<div class="row justify-center">
  {
    posts.map((post) => {
      const imageInfo = getImageInfo(post.image);
      return (
        <div class={"col-12 mb-4 sm:col-4"}>
          {post.image && (
            <Image
              class="rounded-lg"
              src={imageInfo?.url!}
              alt={imageInfo?.alternativeText ?? post.title}
              width={445}
              height={230}
            />
          )}
          <h3 class="h4">
            <a href={`/blog/${post.slug}`} class="block hover:text-primary">
              {post.title}
            </a>
          </h3>
        </div>
      );
    })
  }
</div>
